{% extends "base.html" %}

{% block title %}Confirm - 212 Burgers {% endblock %}

{% block head %}
  {{ super() }}
  <style>
    body {
      background-color: #DFE;
    }
  </style>
{% endblock %}

{% block content %}
  <div id="header">
    <h1>Confirm</h1>
    <p>ORDER CONFIRMATION</p>
  </div>

  <div class="center-text">

    <h3>Details</h3>
    {% for key in details %}
    <p><b> {{ key }} :</b> <br/> {{ details[key] }}</p>
    {% endfor %}

    <h3>Items</h3>
    {% for item in items %}
    {{ items[item] }} &times; {{ item }} <br />
    {% endfor %}

    <p>You can expect your delivery to arrive in 45mins</p>

    <p>
      <a class="btn-yellow" href="/">home page</a>
    </p>
  </div>

{% endblock %}
