{% extends "base.html" %}

{% block title %}Welcome - 212 Burgers {% endblock %}


{% block content %}

    <div id="header">

      <img src="{{ url_for('static', filename='logo.svg') }}" id="logo" />
      <h1>Welcome!</h1>
      <em>BURGERS &bull; DRINKS &bull; FRIES</em>
      <p>
        <a class="btn-yellow" href=" {{ url_for('order') }} ">order now</a>
      </p>

    </div>

    <div id="menu">

      <h1>Menu</h1>

      <div>
        <h2>Burgers</h2>
        <ol class="menu-items">
          {% for burger in burgers %}
            <li> {{ burger[0] }} <span class="price">{{ burger[1] }}</span> </li>
          {% endfor %}
        </ol>
      </div>

      <div>
        <h2>Drinks</h2>
        <ul class="menu-items">
          {% for drink in drinks %}
            <li> {{ drink[0] }} <span class="price">{{ drink[1] }}</span></li>
          {% endfor %}
        </ul>
      </div>

      <div>
        <h2>Sides</h2>
        <ul class="menu-items">
          {% for side in sides %}
            <li> {{ side[0] }} <span class="price">{{ side[1] }}</span></li>
          {% endfor %}
        </ul>
      </div>

    </div>


{% endblock %}
